<?xml version="1.0" encoding="utf-8"?>
<manifest 
package="aoeu.cruftless"
xmlns:a="http://schemas.android.com/apk/res/android"
>

<application
a:label="@string/app_name"
>

<activity
a:name=".Main"
a:label="@string/app_name"
a:launchMode="singleInstance"
a:theme="@style/Main"
>

<intent-filter>

<action a:name="android.intent.action.MAIN"/>
<category a:name="android.intent.category.DEFAULT" />
<category a:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

</application>

</manifest>
