<?xml version="1.0" encoding="utf-8"?>
<manifest 
package="x.cruftless"
xmlns:_="http://schemas.android.com/apk/res/android"
>

<application
_:label="@string/app_name"
>

<activity
_:name=".Main"
_:label="@string/app_name"
_:launchMode="singleInstance"
_:theme="@style/Main"
>

<intent-filter>
<action
_:name="android.intent.action.MAIN"
/>
<category
_:name="android.intent.category.DEFAULT"
/>
<category
_:name="android.intent.category.LAUNCHER"
/>
</intent-filter>

</activity>

</application>

</manifest>
